<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Salary Page</title>
    <style>
        body {
            padding: 25px 35px;
        }

        .simulation-resource {
            width: 48.5%;
        }

        .simulation-button {
            width: 32%;
        }
    </style>
</head>
<body>
    <h1 class="display-3">Simulasi Gaji Guru</h1>
    <div class="d-flex justify-content-between">
        <div class="simulation-resource card mt-5">
            <div class="card-body">
                <h2 class="card-title">Tanggal</h2>
                <p id="simulatedDate" class="card-text display-4" th:text="${simulation.simulatedDate}"></p>
            </div>
        </div>
        <div class="simulation-resource card mt-5">
            <div class="card-body">
                <h2 class="card-title">Gaji</h2>
                <p id="simulatedSalary" class="card-text display-4" th:text="${simulation.simulatedSalary}"></p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <button id="add-daily" class="simulation-button btn btn-primary btn-lg">Add a day</button>
        <button id="add-weekly" class="simulation-button btn btn-primary btn-lg">Add a week</button>
        <button id="add-monthly" class="simulation-button btn btn-primary btn-lg">Add a month</button>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function() {
        $("#add-daily").click(function(e) {
            e.preventDefault();
            let simulation = [[${simulation}]];
            $.ajax({
                type: "GET",
                crossDomain: true,
                url: `http://reschedule-backend-timetable.herokuapp.com/findSalary/add-daily?nrg=${simulation.teacherNrg}`,
                contentType: "application/json",
                success: function(data) {
                    $("#simulatedDate").text(data.simulatedDate);
                    $("#simulatedSalary").text(data.simulatedSalary);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $("#add-weekly").click(function(e) {
            e.preventDefault();
            let simulation = [[${simulation}]];
            $.ajax({
                type: "GET",
                crossDomain: true,
                url: `http://reschedule-backend-timetable.herokuapp.com/findSalary/add-weekly?nrg=${simulation.teacherNrg}`,
                contentType: "application/json",
                success: function(data) {
                    $("#simulatedDate").text(data.simulatedDate);
                    $("#simulatedSalary").text(data.simulatedSalary);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $("#add-monthly").click(function(e) {
            e.preventDefault();
            let simulation = [[${simulation}]];
            $.ajax({
                type: "GET",
                crossDomain: true,
                url: `http://reschedule-backend-timetable.herokuapp.com/findSalary/add-monthly?nrg=${simulation.teacherNrg}`,
                contentType: "application/json",
                success: function(data) {
                    $("#simulatedDate").text(data.simulatedDate);
                    $("#simulatedSalary").text(data.simulatedSalary);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
</html>