<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simulation</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    html, body {
        margin: 0;
        font-family: 'Varela Round', sans-serif;
        color: #546E7A;
    }

    .content {
        margin: 5% 10% 5% 10%;
        text-align: center;
    }

    .row {
        width: 100%;
        margin-left: 40%;
        margin-right: 40%;
    }

</style>
<body>
    <div class="content">
        <div class="container-xl">
            <h1>Logs</h1>
        </div>
    
        <div class="container-xl">
            <div class="header" th:each="class:${classes}">
                <h3 th:text="${'Class: ' + class.getName()}"></h3>
                <div class="content" th:each="teacher:${teachers}">
                    <h5 th:text="${'Teacher ' + teacher.getName() + ' has : ' + teacher.getTotalSalary()}"></h5>
                </div>
            </div>
            <form th:action="@{/simulation}" method="GET">
                <button type="submit" class="btn btn-success">Back</button>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>