<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simulation</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    html, body {
        margin: 0;
        font-family: 'Varela Round', sans-serif;
        color: #546E7A;
    }

    .content {
        margin: 5% 10% 5% 10%;
        text-align: center;
    }

    .btn-primary {
        float: left;
    }

    .btn-success {
        margin-top: 3%;
        float: right;
    }

    .row {
        margin-top: 5%;
        margin-left: 40%;
        margin-right: 40%;
    }

</style>
<body>
    <div class="content">
        <div class="container-xl">
            <h1>Simulation</h1>
        </div>
    
        <div class="row">
            <div class="header" th:each="class:${classes}">
                <h4 th:text="${'Current day : ' + class.getCurrentDay()}"></h4>
                <form th:action="@{/simulation/next-day}" method="POST">
                    <input type="hidden" th:value="${class.getName}" name="className"></input>
                    <input type="hidden" th:value="${class.getCurrentDay}" name="currentDay"></input>
                    <button type="submit" class="btn btn-primary">Next Day</button>
                </form>
            </div>
            <form th:action="@{/simulation/logs}" method="GET">
                <button type="submit" class="btn btn-success">Logs</button>
            </form>
        </div>
    </div>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>